

h3 {
    text-align: center;
}
.seccionPeliculas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    text-align: center;
    height: 100vh;
}
.contenedorPeliculasFavoritas {
    margin: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedorPeliculasFavoritas img{
    margin: 10px;
}
.poster {
    margin: 0 auto;
}

.titulo {
    margin-top: 10px;
}
.seccionPeliculas p {
    text-align: left;
}
.codigo,
.titulo-original,
.idioma-original,
.resumen {
    display: inline;
    text-align: left; /* Alineación izquierda para los elementos */
}

.remove-favorite-button {
    margin-top: 10px;
}




.seccionCartelera {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    /*margin: 10px 200px;*/
    grid-gap: 20px;
}

p {
    color: rgb(15, 80, 141);;
    justify-content: center;
}
.seccion-alerta{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;   
}


.seccion-alerta p{
    color: white;
}

.remove-favorite-button {
    background: gray;
    color: white;
    display: flex;
    font-size: 12px;
    margin: 0px;
    padding: 10px 0px;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 90px;
    text-decoration: none;
    box-shadow: 0px 3px 0px #4b4848;
    border-radius: 40px;
  }
  #sec-cine-result {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#sec-cine-result .peliculaExistente {
    font-size: 24px;
    text-align: center;
}
