
.seccionAyuda {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-left: 70px;
    margin-right: 70px;
}

/*BOTONES LIMPIAR Y ENVIAR*/
button{
  background:rgb(26, 68, 78);
  color: white;
  display: column;
  font-size: small;
  margin: 0px;
  padding: 10px 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 80px;
  text-decoration: none;
  border-radius: 15px;
  box-shadow: 0px 2px 0px #484e4e;

}

.alert {
    background-color: red; 
    color: white; 
    padding: 10px 120px; 
    border: 1px solid #f5c6cb; 
    border-radius: 5px; 
    margin: 20px 15px;
  }
  
  .alert p {
    margin: 0; 
  }
  main p{
    font-size: 18px;
  }
  button:hover{
    box-shadow: 0px 2px 0px;
  }